<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
 <title>资助成功页面</title>
 <script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
 <link rel="stylesheet" href="css/succ.css">
</head>
<body  >
<div class="row bg" >
  
<div  class="container">
   <div >
	<div class="jumbotron">
		<center>
		   <img src="https://hmr-myblog.oss-cn-beijing.aliyuncs.com/public/thank.jpg" class="img-responsive center-block" >
		  <h1 class="text-muted" style="font-size:20px" > 您已经资助成功，感谢您 </h1>
		
	        <div class="btn-group">
	     <button type="button" class="text-muted"><a href="/" >返回主博客</a></button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button type="button" class="text-muted"  ><a href="/index1" >再献爱心</a></button>
	
            </div>
	      </center>
	   </div>
	 </div>
  
   </div>
       
</div>
</body>
</html>