.bg {

       background:url(/img/bcak3.jpg) no-repeat center;

       background-size:contain;
         background-position: center 0; 
         background-repeat: no-repeat;  
         background-attachment: fixed; 
         background-size: cover; 
          -webkit-background-size: cover;  
          -o-background-size: cover;  
          -moz-background-size: cover;  
          -ms-background-size: cover;

}